@{
    ViewBag.Title = "Users";
}
<h2>All Users:</h2>

<div>
    <table class="table">
        @foreach (var item in ViewBag.Users)
        {
            <tr>

                <td>
                   Email: @item.UserName
                </td>
            </tr>
        }
    </table>
</div>
