@{
    ViewBag.Title = "Home Page";
}

<div class="container">
   <ul style="list-style: none; padding-top: 50px;">
       <li><h2>1. You're able to login/register via the integrated <strong style="color: red;">Google+ API.</strong></h2></li>
       <li><h2>2. After registering with Google+, the Email and SecurityStamp is <strong style="color: red;">stored</strong> in the database.</h2></li>
       <li><h2>3. Click on <strong style="color: red;">"Users"</strong> in the navigation to view all registered users. Only <strong style="color: red;">authorized</strong> users are able to access this page.</h2></li>
   </ul>
</div>